nav {
	background: rgba(0,0,0,0.8);
	height: 60px;
}

img {
	
	border-radius: 10px;
	box-shadow: 1px 0px 10px rgba(0,0,0,0.5);
}

body {
	background-color: rgba(73,234,73,0.1);
}

h1 {
	font-weight: bold;
	margin-top: 60px;
	text-align: justify;
}


p {
	font-size: 20px;
	margin-top: 25px;
	line-height: 1.5;
	text-align: justify;

}

/*colunas*/

div.colunas {
	display: flex;
	justify-content: space-between;
} 

div.col-md-6 {
	display: flex;
	margin-top: 5px;
	justify-content: center;
	align-items: center;
}


p.coluna {
	font-stretch: expanded;
	text-align: center;
	padding: 10px;
}

/*texto em destaque*/

p.destaque {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.destaque {
	text-align: center;
	font-weight: bold;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 0px 10px rgba(0,0,0,0.4);
	border: 2px solid rgb(215, 54, 48);
}

/*Carousel*/

.carousel {
	position: relative;
	width: 100%;
	border-radius: 10px;
	box-shadow: 1px 0px 10px rgba(0,0,0,0.4);
	border: 2px solid rgb(251,190,14);
	margin-top: 10px;
    padding: 10px;
 }


.item1 {
	text-align: center;
	padding: 40px;
	
}

.item2 {
	text-align: center;
	padding: 25px;
}

/*tópicos*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
	border: 2px solid green;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 10px 0;
    padding: 20px;
	font-size: 22px;
  }

footer {
	background: rgba(0,0,0,0.8);
	margin-top: 80px;
	display: flex;
 	justify-content: center;
	align-items: center;
	padding: 20px;
}


/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
	h1{
		font-size: 30px;
	}

	p, p.destaque, li {
		font-size: 18px;
	}

	p.coluna {
		font-size: 18px;
		
	}


}



